@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --peru: #c4a08c;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(217, 217, 217, 0.653);
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.09);
  text-transform: capitalize;
  color: black;
}
* > img {
  user-select: none;
  pointer-events: none;
}
p {
  text-transform: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--peru);
}
section {
  padding: 5rem 4%;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--peru);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}
.btn:hover {
  letter-spacing: 0.2rem;
}
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--white);
}

.header .logo {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo h1 {
  font-size: 2rem;
}

.header .logo img {
  color: var(--black);

  height: 8vh;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--light-black);
}

.header .navbar a:hover {
  color: black;
}
#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.home {
  padding: 0;
  background: var(--peru);
  height: 90vh;
  position: relative;
  top: -10vh;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
  z-index: -1;
}

.home .slide .content {
  text-align: center;
  width: 70rem;
}
.home .slide .content h3 {
  font-size: 8vw;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  line-height: 1;
  padding: 2rem 0;
}
.home .slide .content span {
  font-size: 3rem;
  display: block;
  padding-bottom: 0.5rem;
  color: var(--light-white);
}

.fa-times {
  transform: rotate(180deg);
}

#aaa,
#bbb {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: var(--white);
  color: var(--black);
}

#aaa:hover,
#bbb:hover {
  background: var(--peru);
  color: var(--white);
}

#aaa::after,
#bbb::after {
  font-size: 2rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}

.about .content .title {
  font-size: 4rem;
  color: var(--black);
}
.about .content p {
  font-size: 1.7rem;
  color: var(--light-black);
  padding: 1rem 0;
  line-height: 2;
}
.about .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}
.about .content .icons-container .icons {
  flex: 1 1 16rem;
  text-align: center;
  background: var(--peru);
  padding: 3rem 2rem;
  border-radius: 5%;
}

.about .content .icons-container .icons h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: white;
  font-weight: normal;
}

.icons img {
  height: 7rem;
}

/* gallery */
.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 6rem;
}
.gallery .gallery-container .box {
  border: 2rem solid rgb(255, 255, 255);
  height: 50rem;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10%;
}

.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
}

.gallery .gallery-container .box .icon {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
}
.gallery .gallery-container .box:hover .icon {
  display: flex;
}
.gallery .gallery-container .box .icon i {
  font-size: 6rem;
  color: var(--light-white);
}

.footer {
  text-align: center;
  height: 100vh;
  position: relative;
}
.footer .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer-btn {
  background-color: #fff;
  color: #222;
  border: 2px black solid;
  font-size: 2rem;
  padding: 4px;
  cursor: pointer;
}

.footer .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
}

.footer .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: var(--peru);
  color: var(--white);
  margin-bottom: 1rem;
  line-height: 5.7rem;
  font-size: 4rem;
}

.footer .icons-container .icons h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
  font-weight: bold;
}

.footer .icons-container .icons p {
  line-height: 1.5;
  font-size: 1.7rem;
  color: var(--light-black);
  text-transform: none;
}

.footer .share {
  margin: 2rem 0;
}

.footer .share a {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  color: var(--white);
  background: var(--black);
  margin: 0 0.3rem;
  font-size: 3rem;
}
.footer .share a:hover {
  background: var(--peru);
}

.footer .credit {
  padding-top: 2rem;
  margin-top: 4rem;
  border-top: var(--border);
  color: var(--light-black);
  font-size: 2rem;
}
.footer .credit span {
  color: var(--peru);
}

.map {
  height: 50vh;
  width: 100vw;
}
.map-show {
  height: 30vh;
}
.address {
  display: flex;
  margin: 2rem;
}
.address-h2 {
  font-size: 4rem;
  /* border: 1px solid var(--peru); */
  margin: auto;
}

.open-map {
  display: flex;
  margin: 2rem;
  font-size: 3rem;
}
.open-map a {
  background-color: var(--peru);
  margin: auto;
  color: #fff;
  border: 2px black solid;
  padding: 4px;
}

.menu-bg {
  height: auto;
  margin: 0 auto;
  background-color: #d6c8c1;
  overflow: ;
}
.menu-bg .menu-header {
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.menu-bg .menu-header span {
  color: var(--white);
  font-weight: bold;
  font-size: 4rem;
}

.menu .line {
  margin-top: 10px;
  border-top: 4px dotted var(--peru);
  width: 52%;
}

.menu-bg .menu-body {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  gap: 2rem;
}

.menu-bg .div1 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
}
.menu-bg .div2 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
}
.menu-bg .div3 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
}
.menu-bg .div4 {
  height: 100vh;
  position: relative;
  background-color: var(--black);
}
.each-menu-outer {
  display: flex;
  justify-content: center;
}
.each-menu {
  width: 90%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.each-menu h4 {
  font-size: 3rem;
  color: #ccc;
}

.each-menu .line {
  margin-top: 10px;
  border-top: 1px dotted var(--light-black);
  width: 52%;
}

/* =============================== */
.menu {
  min-height: 250vh;
  background: url(/img/lash.png);
  background-size: cover;
  background-position: center;
}
.menu .heading {
  text-align: center;
  margin: 4rem;
  font-size: 6rem;
}
.menu .bg {
  background-color: rgba(255, 212, 148, 0.707);
}
.menu .box-container {
  align-items: center;
  justify-content: center;
}
.menu .box-container .box {
  margin: 0 6rem;
}
.menu .box-container .box .main {
  text-align: center;
  color: var(--black);
  text-transform: capitalize;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}
.menu .box-container .box .para {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  margin-bottom: 5rem;
}
.menu .box-container .box .starter {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.menu .box-container .box .starter span {
  color: var(--black);
}
.menu .box-container .box .desc {
  font-size: 1.4rem;
  color: var(--light-black);
}
.menu .box-container .box .line {
  width: 100%;
  height: 1px;
  background: var(--light-white);
  margin: 3rem 0;
}

.para.head-title {
  text-decoration: underline;
}

.gal {
  object-fit: cover;
}
/* =============================== */
/* media queries */

@media (min-width: 1200px) {
  .home .slide .content {
    text-align: center;
    width: 100rem;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
  html {
    font-size: 55%;
  }
  .home .slide .content h3 {
    font-size: 12vw;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .header .logo {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
  }
  .header h1 {
    font-size: 300%;
  }

  #aaa,
  #bbb {
    top: initial;
    bottom: 8rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slide .content h3 {
    font-size: 6rem;
  }
}
